@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Semi-Bold';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background: #4d4f54;
  background: -webkit-linear-gradient(top, #7f8c8d 0%, #000000 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat-Regular';
  color: #363636;
}

hr {
  opacity: .3;
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.loader svg > rect {
  fill: #c20707;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#welcome {
  color: #828282;
  font-size: 16px;
  margin-top: 30px;
}

#gc-title {
  font-family: 'Montserrat-Bold';
  color: #c20707;
  font-size: 30px;
}

.subtitle {
  color: #363636;
  font-size: 20px;
  font-family: "Montserrat-Semi-Bold";
}

.subtitle-info {
  color: #828282;
  font-size: 12px;
}

.wrapper {
  background: #f2f4f9;
  width: 92%;
  max-width: 1440px;
  height: 92%;
  border-radius: 25px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "head head head" "left-content left-content agenda";
  -ms-grid-rows: 90px 1fr;
      grid-template-rows: 90px 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.wrapper header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: head;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
}

.wrapper header .menu-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper header .menu-items-container > nav > .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.wrapper header .menu-items-container nav > .navbar > .menu-item {
  margin-left: 15px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

.wrapper header .menu-items-container nav > .navbar > .menu-item:hover > a {
  opacity: .5;
}

.wrapper header .menu-items-container nav > .navbar > .menu-item:hover .sub-menu {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: all;
}

.wrapper header .menu-items-container nav > .navbar > .menu-item svg {
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.wrapper header .menu-items-container nav > .navbar > .menu-item:hover svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrapper header .menu-items-container nav > .navbar > .menu-item > ul.sub-menu {
  pointer-events: none;
  position: absolute;
  padding: 15px;
  border-radius: 5px;
  top: 20px;
  left: 0;
  white-space: nowrap;
  background: white;
  line-height: 2em;
  opacity: 0;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.wrapper header .menu-items-container nav > .navbar ul.sub-menu .sub-menu-item {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.wrapper header .menu-items-container nav > .navbar ul.sub-menu .sub-menu-item:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.wrapper header .menu-items-container nav > .navbar ul.sub-menu .sub-menu-item > a {
  font-size: 12px;
  color: #363636;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.wrapper header .menu-items-container nav > .navbar ul.sub-menu .sub-menu-item:hover > a {
  color: #c20707;
}

.wrapper header .menu-items-container nav > .navbar > li svg {
  margin-left: 5px;
}

.wrapper header .menu-items-container > nav > .navbar > li .chevron-down {
  fill: #363636;
}

.wrapper header .menu-items-container > nav > .navbar > li > a {
  font-size: 12px;
  color: #363636;
}

.wrapper header .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 220px;
}

.wrapper header .user-info .user-info-item {
  cursor: pointer;
}

.wrapper header .user-info .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper header .user-info .user-details img {
  margin-left: 10px;
}

.wrapper header .user-info .vertical-line {
  width: 1px;
  height: 25px;
  background: rgba(54, 54, 54, 0.3);
}

.wrapper header .user-info #userName {
  font-size: 12px;
  margin-right: 5px;
}

.wrapper .left-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: left-content;
  /*  background: green; */
  padding-left: calc(80px + 10px);
}

.wrapper .left-content .carteira {
  margin-top: 60px;
}

.wrapper .left-content .carteira .carteira-boxes-container {
  border-radius: 25px;
  background-color: white;
  margin-top: 20px;
  margin-left: -15px;
  padding: 20px 10px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.wrapper .left-content .carteira .carteira-boxes-container .carteira-box {
  position: relative;
  width: 100px;
  height: 75px;
  border-radius: 10px;
  margin-left: 15px;
  padding: 10px;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.wrapper .left-content .carteira .carteira-boxes-container .carteira-box .carteira-box-icon {
  text-align: center;
}

.wrapper .left-content .carteira .carteira-boxes-container .carteira-box .carteira-box-text {
  text-align: center;
  color: #d3d3d3;
  font-family: "Montserrat-Light";
  font-size: 10px;
}

.wrapper .left-content .carteira .carteira-boxes-container .carteira-box .carteira-box-value {
  font-family: "Montserrat-Medium";
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 1;
}

.wrapper .left-content .carteira .carteira-boxes-container .carteira-box .arrow-up {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
}

.wrapper .left-content .carteira .carteira-boxes-container .carteira-box .arrow-up.green {
  border-bottom: 19px solid #48A700;
}

.wrapper .left-content .carteira .carteira-boxes-container .carteira-box .arrow-up.red {
  border-top: 19px solid #c20707;
}

.wrapper .left-content .carteira .carteira-boxes-container .carteira-box.triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper .left-content .carteira .carteira-boxes-container .carteira-box.triangle > .carteira-box-text {
  margin-bottom: 10px;
}

.wrapper .left-content .pipeline {
  margin-top: 60px;
}

.wrapper .left-content .pipeline .pipeline-container {
  margin-top: 20px;
  border-radius: 25px;
  background-color: white;
  padding: 20px 10px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wrapper .left-content .pipeline .pipeline-container .more-options {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: opacity .4s ease-out;
  transition: opacity .4s ease-out;
}

.wrapper .left-content .pipeline .pipeline-container .more-options:hover {
  opacity: .5;
}

.wrapper .left-content .pipeline .pipeline-container .objectivo-global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.wrapper .left-content .pipeline .pipeline-container .objectivo-global .objectivo {
  color: #c20707;
  font-size: 26px;
  font-family: 'Montserrat-Semi-Bold';
}

.wrapper .left-content .pipeline .pipeline-container .objectivo-global #objectivo-placeholder {
  font-family: 'Montserrat-Semi-Bold';
  font-size: 14px;
  color: #363636;
}

.wrapper .left-content .pipeline .pipeline-container .objectivo-global .objectivo-global-boxes-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.wrapper .left-content .pipeline .pipeline-container .objectivo-global .objectivo-global-boxes-container .objectivo-global-box {
  width: 103px;
  height: 60px;
  background: #f2f4f9;
  border-radius: 10px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.wrapper .left-content .pipeline .pipeline-container .objectivo-global .objectivo-global-boxes-container .objectivo-global-box-value {
  font-size: 14px;
  font-family: 'Montserrat-Semi-Bold';
  color: #363636;
}

.wrapper .left-content .pipeline .pipeline-container .objectivo-global .objectivo-global-boxes-container .objectivo-global-box-text {
  font-size: 10px;
  color: #828282;
}

.wrapper .agenda {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: agenda;
  /* background: red; */
  border-radius: 25px;
  background-color: white;
  margin-right: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 60px;
  padding: 30px 20px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  /* background-image: linear-gradient(#FFFFFF, #F6F6F6); */
}

.wrapper .agenda .more-options {
  position: absolute;
  top: 25px;
  right: 40px;
}

.wrapper .agenda .agenda-container {
  height: 35%;
  margin-top: 30px;
  position: relative;
}

.wrapper .agenda .agenda-container .agenda-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.wrapper .agenda .agenda-container .agenda-item .agenda-item-icon img {
  width: 25px;
}

.wrapper .agenda .agenda-container .agenda-item .agenda-item-details {
  margin-left: 10px;
}

.wrapper .agenda .agenda-container .agenda-item .agenda-item-details-title {
  font-family: "Montserrat-Medium";
  font-size: 11px;
  color: #363636;
}

.wrapper .agenda .agenda-container .agenda-item .agenda-item-details-date {
  font-family: "Montserrat-Light";
  font-size: 11px;
  color: #363636;
}

.wrapper .agenda .agenda-container #add-agenda-item {
  position: absolute;
  right: 0;
}

#chartdiv {
  width: 52%;
  height: 284px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
}

g[aria-labelledby=id-66-title] {
  display: none;
}

tspan {
  font-size: 9px;
  font-weight: bold;
}

#caleandar {
  margin-top: 40px;
}

/* .sub-menu:before,
.sub-menu:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 19px;
  border: 11px solid transparent;
  border-bottom-color: $red;
}

.sub-menu:after {
  left: 20px;
  border: 10px solid transparent;
  border-bottom-color: $red;
} */
/*# sourceMappingURL=style.css.map */