@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat//Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Semi-Bold';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background: #4d4f54;
  background: -webkit-linear-gradient(top, #7f8c8d 0%, #000000 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat-Regular';
  color: #363636;
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader svg > rect {
  fill: #c20707;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#welcome {
  color: #828282;
  font-size: 16px;
  margin-top: 30px;
}

#gc-title {
  font-family: 'Montserrat-Bold';
  color: #c20707;
  font-size: 30px;
}

.subtitle {
  color: #363636;
  font-size: 20px;
  font-family: 'Montserrat-Semi-Bold';
}

.subtitle-info {
  color: #828282;
  font-size: 12px;
}

.wrapper {
  background: #f2f4f9;
  /* Old browsers */
  width: 92%;
  max-width: 1440px;
  height: 92%;
  border-radius: 25px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "head head head" "left-content left-content agenda";
  -ms-grid-rows: 90px 1fr;
      grid-template-rows: 90px 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.wrapper header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: head;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
}

.wrapper header .menu-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper header .menu-items-container > nav > .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.wrapper header .menu-items-container nav > .navbar > .menu-item {
  margin-left: 15px;
  position: relative;
  cursor: pointer;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

.wrapper header .menu-items-container nav > .navbar > li:hover > a {
  opacity: .5;
}

.wrapper header .menu-items-container nav > .navbar > li:hover .sub-menu {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.wrapper header .menu-items-container nav > .navbar > li svg {
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.wrapper header .menu-items-container nav > .navbar > li:hover svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrapper header .menu-items-container nav > .navbar > li > ul.sub-menu {
  position: absolute;
  padding: 15px;
  border-radius: 5px;
  top: 20px;
  left: 0;
  white-space: nowrap;
  background: white;
  line-height: 2em;
  opacity: 0;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.wrapper header .menu-items-container nav > .navbar ul.sub-menu .sub-menu-item {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.wrapper header .menu-items-container nav > .navbar ul.sub-menu .sub-menu-item:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.wrapper header .menu-items-container nav > .navbar ul.sub-menu .sub-menu-item > a {
  font-size: 12px;
  color: #363636;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.wrapper header .menu-items-container nav > .navbar ul.sub-menu .sub-menu-item:hover > a {
  color: #c20707;
}

.wrapper header .menu-items-container nav > .navbar > li svg {
  margin-left: 5px;
}

.wrapper header .menu-items-container > nav > .navbar > li .chevron-down {
  fill: #363636;
}

.wrapper header .menu-items-container > nav > .navbar > li > a {
  font-size: 12px;
  color: #363636;
}

.wrapper header .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 220px;
}

.wrapper header .user-info .user-info-item {
  cursor: pointer;
}

.wrapper header .user-info .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper header .user-info .user-details img {
  margin-left: 10px;
}

.wrapper header .user-info .vertical-line {
  width: 1px;
  height: 25px;
  background: rgba(54, 54, 54, 0.3);
}

.wrapper header .user-info #userName {
  font-size: 12px;
  margin-right: 5px;
}

.wrapper .left-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: left-content;
  /*  background: green; */
  padding-left: calc(80px + 10px);
}

.wrapper .left-content .carteira {
  margin-top: 80px;
}

.wrapper .agenda {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: agenda;
  /* background: red; */
  padding-right: 80px;
}

/* .sub-menu:before,
.sub-menu:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 19px;
  border: 11px solid transparent;
  border-bottom-color: $red;
}

.sub-menu:after {
  left: 20px;
  border: 10px solid transparent;
  border-bottom-color: $red;
} */
/*# sourceMappingURL=style.css.map */