@import "variables";

@mixin menu-items {
    font-size: $menu-item-size;
    color: $menu-item-color;
}

@mixin subtitles {
    color: $font-color;
    font-size: $subtitle-size;
    font-family: "Montserrat-Semi-Bold";
}
@mixin subtitles-info {
    color: $font-color-light;
    font-size: $subtitle-info-size;
}
@mixin carteira-boxes() {
    position: relative;
    width: $box-width;
    height: $box-height;
    border-radius: 10px;
    margin-left: 15px;
    padding: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    .carteira-box-icon {
        text-align: center;
    }
    .carteira-box-text {
        text-align: center;
        color: #d3d3d3;
        font-family: "Montserrat-Light";
        font-size: 10px;
    }
    .carteira-box-value {
        font-family: "Montserrat-Medium";
        font-size: 16px;
        color: white;
        text-align: center;
        line-height: 1;
    }
}
@mixin agenda-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 10px;
    .agenda-item-icon img {
        width: $agenda-item-icon-size;
    }
    .agenda-item-details {
        margin-left: 10px;
    }
    .agenda-item-details-title {
        font-family: "Montserrat-Medium";
        font-size: $agenda-item-text-size;
        color: $agenda-item-text-color;
    }
    .agenda-item-details-date {
        font-family: "Montserrat-Light";
        font-size: $agenda-item-date-size;
        color: $agenda-item-date-color;
    }
}
