//global styles
$loader-color: #c20707;
$font-color: #363636;
$font-color-light: #828282;
$red: #c20707;

//body background
$body-background-color-1: #7f8c8d;
$body-background-color-2: #000000;

//wrapper
$wrapper-background-color: #f2f4f9;
$wrapper-padding: 80px;

//menu-items
$menu-item-size: 12px;
$menu-item-color: #363636;

//subtitles and subtitles info paragraphs
$subtitle-size: 20px;
$subtitle-info-size: 12px;