//global styles
$loader-color: #c20707;
$font-color: #363636;
$font-color-light: #828282;
$red: #c20707;
$green: #48A700;

//body background
$body-background-color-1: #7f8c8d;
$body-background-color-2: #000000;

//wrapper
$wrapper-background-color: #f2f4f9;
$wrapper-padding: 80px;

//menu and sub menu items
$menu-item-size: 12px;
$sub-menu-item-size: 11px;
$menu-item-color: #363636;
$sub-menu-background: #363636;
$sub-menu-items-color: white;

//subtitles and subtitles info paragraphs
$subtitle-size: 20px;
$subtitle-info-size: 12px;

//carteira boxes
$box-width: 90px;
$box-height: 75px;
$box-color-1: #4D4F54;
$box-color-2: #363636;
$box-color-3: #606B72;

//Pipeline
$boxes-value: 14px;
$boxes-value-color: #363636;
$text-size: 10px;

//agenda
$agenda-item-text-size: 11px;
$agenda-item-date-size: 11px;
$agenda-item-text-color: #363636;
$agenda-item-date-color: #363636;
$agenda-item-icon-size: 25px;

//agenda selector box
$list-item-size: 11px;
$list-item-color: white;



